.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: transparent;
  padding: 20px 35px;
}
.nav .nav-left {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.nav .nav-left .nav-logo {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.nav .nav-left .nav-logo .nav-logo-img {
  height: 35px;
  width: auto;
}
.nav .nav-left .nav-logo .nav-logo-title {
  font-family: UniSansHeavy, sans-serif;
  font-size: 22px;
  letter-spacing: 0.025em;
  margin-left: 15px;
}
.nav .nav-left .nav-links {
  display: flex;
  margin-left: 55px;
}
.nav .nav-left .nav-links .nav-links-list {
  display: flex;
}
.nav .nav-left .nav-links .nav-links-list .nav-links-list-point {
  display: flex;
  margin: 0 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.nav .nav-left .nav-links .nav-links-list .nav-links-list-point .nav-links-list-point-link {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-decoration: none;
  font-size: 15px;
  font-family: ProductSans, sans-serif;
  opacity: 0.85;
}
.nav .nav-left .nav-links .nav-links-list .nav-links-list-point .nav-links-list-point-link:hover {
  opacity: 1;
}
.nav .nav-left .nav-links .nav-links-list .nav-links-list-point .nav-links-list-point-link .nav-links-list-point-symbol {
  margin-right: 6px;
  font-size: 12px;
}
.nav .nav-right {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.nav .nav-right .nav-socials .nav-socials-link {
  color: white;
  text-decoration: none;
  opacity: 0.85;
  font-size: 18px;
  margin: 0 5px;
}
.nav .nav-right .nav-socials .nav-socials-link:hover {
  opacity: 1;
}
.nav .nav-right .nav-login {
  margin-left: 15px;
}
.nav .nav-right .nav-login .nav-login-button {
  color: var(--dark);
  background: var(--white);
  padding: 5px 15px;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.85;
  border-radius: 25px;
  font-family: ProductSansBold, sans-serif;
}
.nav .nav-right .nav-login .nav-login-button:hover {
  opacity: 1;
}

/*# sourceMappingURL=nav.css.map */
