.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: transparent;
  padding: 20px 35px;

  .nav-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    .nav-logo {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;

      .nav-logo-img {
        height: 35px;
        width: auto;
      }

      .nav-logo-title {
        font-family: UniSansHeavy, sans-serif;
        font-size: 22px;
        letter-spacing: .025em;
        margin-left: 15px;
      }
    }

    .nav-links {
      display: flex;
      margin-left: 55px;

      .nav-links-list {
        display: flex;

        .nav-links-list-point {
          display: flex;
          margin: 0 20px;
          align-content: center;
          align-items: center;
          justify-content: center;

          .nav-links-list-point-link {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            color: var(--white);
            text-decoration: none;
            font-size: 15px;
            font-family: ProductSans, sans-serif;
            opacity: .85;

            &:hover {
              opacity: 1;
            }

            .nav-links-list-point-symbol {
              margin-right: 6px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    .nav-socials {

      .nav-socials-link {
        color: white;
        text-decoration: none;
        opacity: .85;
        font-size: 18px;
        margin: 0 5px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .nav-login {
      margin-left: 15px;

      .nav-login-button {
        color: var(--dark);
        background: var(--white);
        padding: 5px 15px;
        text-decoration: none;
        font-size: 15px;
        opacity: .85;
        border-radius: 25px;
        font-family: ProductSansBold, sans-serif;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}