:root {
    --primary: #7289DA;
    --black: #000000;
    --white: #FFFFFF;
    --darker: #23272A;
    --dark: #2C2F33;
    --light: #99AAB5;
    --dsh: #F59E12;
    --patreon: #f96854;
}

html, body {
    height: 100%;
    width: 100%;
    background: var(--dark);
    color: var(--white);
    font-family: ProductSans, sans-serif;
    font-size: 20px;
}

a {
    color: var(--white);
    text-decoration: none;
}