<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-language" content="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<meta name="google-site-verification" content="U-OCUkoNn2ZnXouLDxOw31LNrD3X9xCXilKbzcKkQVI">

<meta name="author" content="Rxsto">
<meta name="publisher" content="DiscordList.org">
<meta name="copyright" content="DiscordList.org">
<meta name="description"
      content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
<meta name="keywords"
      content="groovybot, groovy bot, groovy, groovy discord, discord bot, discord groovy, discord music, discord music bot">
<meta name="image" content="https://cdn.groovybot.co/images/banner.png">
<meta name="robots" content="index, follow">

<meta itemprop="name" content="Groovy">
<meta itemprop="description"
      content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
<meta itemprop="image" content="https://cdn.groovybot.co/images/banner.png">

<meta name="og:title" content="Groovy - Discord Music Bot">
<meta name="og:description"
      content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
<meta name="og:image" content="https://cdn.groovybot.co/images/banner.png">
<meta name="og:url" content="https://groovybot.co">
<meta property="og:keywords"
      content="groovybot, groovy bot, groovy, groovy discord, discord bot, discord groovy, discord music, discord music bot">
<meta name="og:site_name" content="Groovy">
<meta name="og:locale" content="en">
<meta name="og:type" content="website">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Groovy">
<meta name="twitter:description"
      content="Groovy is a feature-rich and experienced music-bot for Discord! He supports YouTube, Soundcloud, Spotify and more!">
<meta name="twitter:site" content="@groovydevs">
<meta name="twitter:creator" content="@rxsto_official">

<link rel="icon" href="https://cdn.groovybot.co/images/logo.png" type="image/png">
<link rel="apple-touch-icon" href="https://cdn.groovybot.co/images/logo.png">

<meta name="application-name" content="Groovy">
<meta name="theme-color" content="#7289DA">

<link rel="stylesheet" href="/css/libs/reset.css">
<link rel="stylesheet" href="/css/libs/animate.css">
<link rel="stylesheet" href="/css/libs/fontawesome.css">
<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/general.css">
<link rel="stylesheet" href="/css/comps/nav.css">