<nav class="nav">
    <div class="nav-left">
        <a href="#" class="nav-logo">
            <img src="/img/logo-white.png" alt="Groovy's Logo" class="nav-logo-img">
            <h1 class="nav-logo-title">Groovy</h1>
        </a>
        <div class="nav-links">
            <ul class="nav-links-list">
                <li class="nav-links-list-point">
                    <a href="#" class="nav-links-list-point-link">
                        <i class="fas fa-plus-square nav-links-list-point-symbol"></i>
                        Invite
                    </a>
                </li>
                <li class="nav-links-list-point">
                    <a href="#" class="nav-links-list-point-link">
                        <i class="fas fa-star nav-links-list-point-symbol"></i>
                        Features
                    </a>
                </li>
                <li class="nav-links-list-point">
                    <a href="#" class="nav-links-list-point-link">
                        <i class="fab fa-patreon nav-links-list-point-symbol"></i>
                        Premium
                    </a>
                </li>
                <li class="nav-links-list-point">
                    <a href="#" class="nav-links-list-point-link">
                        <i class="fas fa-question-circle nav-links-list-point-symbol"></i>
                        Support
                    </a>
                </li>
                <li class="nav-links-list-point">
                    <a href="#" class="nav-links-list-point-link">
                        <i class="fas fa-signal nav-links-list-point-symbol"></i>
                        Status
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-right">
        <div class="nav-socials">
            <a class="nav-socials-link" href="https://patreon.com/rxsto" target="_blank"><i class="fab fa-patreon"></i></a>
            <a class="nav-socials-link" href="https://twitter.com/groovydevs" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="nav-socials-link" href="https://twitch.tv/groovydevs" target="_blank"><i class="fab fa-twitch"></i></a>
            <a class="nav-socials-link" href="https://github.com/GroovyDevs" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <div class="nav-login">
            <a href="#" class="nav-login-button">Login</a>
        </div>
    </div>
</nav>